In [7]:
import pandas as pd
from datetime import datetime

In [106]:
FILENAME = 'pl_afr_3'

In [107]:
data = pd.read_csv(FILENAME + '.csv')

In [159]:
FORMAT = '%Y-%m-%d %H:%M:%S.%f'

In [108]:
data['date'] = data['date'].apply(lambda date: datetime.strptime(date, FORMAT))
data = data.sort_values('date')
data = data.drop(['Unnamed: 0'], axis=1)
data = data.reset_index(drop=True)
data['previous_date'] = data['date'].shift()

In [109]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 334882 entries, 0 to 334881
Data columns (total 7 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   stork_migration_id  334882 non-null  object
 1   migration_id        334882 non-null  object
 2   timestamp           334882 non-null  object
 3   date                334882 non-null  datetime64[ns]
 4   location-long       334882 non-null  float64
 5   location-lat        334882 non-null  float64
 6   previous_date       334881 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(2), object(3)
memory usage: 17.9+ MB

In [110]:
def is_time_diff_below_threshold(date1, date2, threshold=30):
    return abs((date1 - date2).total_seconds()) / 60 < threshold

In [111]:
def clean_up(input_data: pd.DataFrame):
    output_data = input_data
    for i in range(1, len(output_data.index)-1):
        if is_time_diff_below_threshold(output_data.at[i, 'previous_date'], output_data.at[i, 'date']):
            new_previous_date = output_data.at[i, 'previous_date']
            output_data.at[i+1, 'previous_date'] = new_previous_date
            output_data = output_data.drop([i], axis=0)
    return output_data

In [112]:
cleaned_data = clean_up(data)

KeyboardInterrupt:

In [94]:
cleaned_data

,stork_migration_id,migration_id,timestamp,date,location-long,location-lat
0,3075_pl_afr_1,pl_afr_1,2013-07-16 05:46:27.000,2013-07-16 05:46:27,15.187746,51.750439
1,3056_pl_afr_1,pl_afr_1,2013-07-16 06:55:47.000,2013-07-16 06:55:47,15.056473,51.763528
2,3056_pl_afr_1,pl_afr_1,2013-07-16 07:40:06.000,2013-07-16 07:40:06,15.056396,51.763489
3,3056_pl_afr_1,pl_afr_1,2013-07-16 09:00:06.000,2013-07-16 09:00:06,15.056633,51.763468
4,3075_pl_afr_1,pl_afr_1,2013-07-16 10:30:11.000,2013-07-16 10:30:11,15.187850,51.750318
...,...,...,...,...,...,...
4921,3048_pl_afr_1,pl_afr_1,2013-11-30 18:25:06.000,2013-11-30 18:25:06,37.737717,10.135811
4922,3048_pl_afr_1,pl_afr_1,2013-11-30 18:55:07.000,2013-11-30 18:55:07,37.737752,10.135804
4923,3048_pl_afr_1,pl_afr_1,2013-11-30 19:25:08.000,2013-11-30 19:25:08,37.737706,10.135012
4924,3048_pl_afr_1,pl_afr_1,2013-11-30 19:55:08.000,2013-11-30 19:55:08,37.737843,10.134776
4925,3048_pl_afr_1,pl_afr_1,2013-11-30 20:00:23.000,2013-11-30 20:00:23,37.739384,10.134174

In [ ]:
cleaned_data = cleaned_data.drop(['previous_date'], axis=1)
cleaned_data = cleaned_data.reset_index(drop=True)
cleaned_data.to_csv(FILENAME + '_cleaned.csv')

In [96]:
cleaned_data.to_csv(FILENAME + '_cleaned.csv')

In [199]:
data2 = pd.read_csv('pl_afr_5_cleaned.csv')

In [200]:
FORMAT = '%Y-%m-%d %H:%M:%S.%f'
data2['date'] = data2['date'].apply(lambda date: datetime.strptime(date, FORMAT))
data2 = data2.sort_values('date')
data2 = data2.drop(['Unnamed: 0'], axis=1)
data2 = data2.reset_index(drop=True)

In [202]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2945 entries, 0 to 2944
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stork_migration_id  2945 non-null   object
 1   migration_id        2945 non-null   object
 2   timestamp           2945 non-null   object
 3   date                2945 non-null   datetime64[ns]
 4   location-long       2945 non-null   float64
 5   location-lat        2945 non-null   float64
dtypes: datetime64[ns](1), float64(2), object(3)
memory usage: 138.2+ KB

In [203]:
FORMAT = '%d.%m.%Y %H:%M:%S'

In [ ]:
2014-04-24 08:30:06.000
3048_afr_pl_2
2014-04-07 12:20:06.000

In [204]:
to_del = data2.loc[(data2['stork_migration_id'] == '3955_pl_afr_5') & (data2['date'] > datetime.strptime('18.08.2015 12:35:06', FORMAT))]

In [209]:
to_del = data2.loc[data2['stork_migration_id'].isin(['3951_pl_afr_5', '4552_pl_afr_5', '4553_pl_afr_5', '4554_pl_afr_5', '4555_pl_afr_5', '4559_pl_afr_5', '4570_pl_afr_5', '4571_pl_afr_5'])]

In [210]:
to_del

,stork_migration_id,migration_id,timestamp,date,location-long,location-lat
0,3951_pl_afr_5,pl_afr_5,2015-07-01 02:00:23.000,2015-07-01 02:00:23,31.554432,39.144100
1,3951_pl_afr_5,pl_afr_5,2015-07-01 02:35:06.000,2015-07-01 02:35:06,31.570463,39.138460
2,3951_pl_afr_5,pl_afr_5,2015-07-01 03:05:06.000,2015-07-01 03:05:06,31.570417,39.137479
3,3951_pl_afr_5,pl_afr_5,2015-07-01 03:35:06.000,2015-07-01 03:35:06,31.569924,39.140242
4,3951_pl_afr_5,pl_afr_5,2015-07-01 04:05:06.000,2015-07-01 04:05:06,31.562286,39.145345
...,...,...,...,...,...,...
2938,4559_pl_afr_5,pl_afr_5,2015-09-20 17:55:06.000,2015-09-20 17:55:06,22.475422,53.167995
2939,4559_pl_afr_5,pl_afr_5,2015-09-20 18:25:06.000,2015-09-20 18:25:06,22.475419,53.167992
2940,4559_pl_afr_5,pl_afr_5,2015-09-20 18:55:06.000,2015-09-20 18:55:06,22.475438,53.167961
2941,4559_pl_afr_5,pl_afr_5,2015-09-20 19:25:07.000,2015-09-20 19:25:07,22.475396,53.167957
2942,4559_pl_afr_5,pl_afr_5,2015-09-20 20:00:06.000,2015-09-20 20:00:06,22.475408,53.167932

In [211]:
data2 = pd.merge(data2, to_del, indicator=True, how='outer').query('_merge=="left_only"').drop('_merge', axis=1)

In [212]:
data2

,stork_migration_id,migration_id,timestamp,date,location-long,location-lat
56,4557_pl_afr_5,pl_afr_5,2015-07-02 12:35:06.000,2015-07-02 12:35:06,22.479859,53.229691
64,4556_pl_afr_5,pl_afr_5,2015-07-02 16:35:06.000,2015-07-02 16:35:06,22.479865,53.229689
65,4556_pl_afr_5,pl_afr_5,2015-07-02 17:05:06.000,2015-07-02 17:05:06,22.479876,53.229682
66,4556_pl_afr_5,pl_afr_5,2015-07-02 17:35:06.000,2015-07-02 17:35:06,22.479833,53.229720
74,4557_pl_afr_5,pl_afr_5,2015-07-03 03:35:06.000,2015-07-03 03:35:06,22.479858,53.229703
...,...,...,...,...,...,...
2735,4558_pl_afr_5,pl_afr_5,2015-09-15 11:30:07.000,2015-09-15 11:30:07,35.565722,36.684889
2736,4558_pl_afr_5,pl_afr_5,2015-09-15 12:00:08.000,2015-09-15 12:00:08,35.565715,36.684888
2738,4558_pl_afr_5,pl_afr_5,2015-09-15 13:00:13.000,2015-09-15 13:00:13,35.565712,36.684932
2739,4558_pl_afr_5,pl_afr_5,2015-09-15 13:30:23.000,2015-09-15 13:30:23,35.565685,36.684890
2773,4558_pl_afr_5,pl_afr_5,2015-09-16 13:00:08.000,2015-09-16 13:00:08,35.565738,36.684843

In [213]:
data2.to_csv('pl_afr_5_cleaned_v2.csv')